<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util-3.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <context:property-placeholder location="classpath*:*.properties" />

	<context:component-scan base-package="com.wsw.framework.managerImpl" />

	<!-- enable autowire -->
	<context:annotation-config />

	<!-- enable transaction demarcation with annotations -->
	<tx:annotation-driven />

	<aop:aspectj-autoproxy  expose-proxy="true" />


	<import resource="classpath*:/spring/spring-wsw-constants.xml" />
	<import resource="classpath*:/spring/spring-wsw-provider.xml" />
	<import resource="classpath*:/spring/spring-wsw-builder.xml" />
	<import resource="classpath*:/spring/spring-wsw-framework.xml" />
	<import resource="classpath*:/spring/spring-wsw-redis.xml" />
	<import resource="classpath*:/spring/spring-wsw-mq.xml" />
	<import resource="classpath*:/spring/spring-wsw-common.xml" />
	<import resource="classpath*:/spring/spring-wsw-remote.xml" />
	<import resource="classpath*:/spring/spring-wsw-dao.xml" />
	<import resource="classpath*:/spring/spring-wsw-subapkind.xml" />
	<import resource="classpath*:/spring/spring-wsw-shiro.xml" />

</beans>
